.navbar.custom {
  background-color: $white;
  border-right: 1px solid $black;
  color: $black;
  height: 100%;
  width: 20%;
  transition: all .45s;
  // transition-timing-function: ease-out;
  transition-timing-function: cubic-bezier(0, 0, .58, 1);
  // transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  @include respond-to(xs){
    background-color: $white;
  }
  &.minimal {
    transition: all .4s;
    // transition-timing-function: ease-in;
    transition-timing-function: cubic-bezier(.42, 0, 1, 1);
  }
  &.active {
    height: 100%;
  }
}

a.navbar-brand {
  color: $black;
}
