@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font: 'Lato', sans-serif;
body {
  font-size:14px;
  font-family: $font;
  color: $white;
	// @include text-shadow(0px,0px,15px,rgba(0,0,0,0.3));
}

p, div {
	color: $black;
}

a {
	color: $white;
	&:hover, &:focus, &:visited {
		color: $white;
	}
}

.shadow {
	// @include text-shadow(0px,0px,15px,rgba(0,0,0,0.3));
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
	color: $white;
}

h1 {
	@include fontsize(2.5,2.5);
}

h2 {
	@include fontsize(1.5,1.5);
	margin-bottom: 10px;
  font-weight: 300;
  font-size: 17px;
}
h1.single-product--title {
  font-family: "Lato";
  font-weight: 300;
  line-height: 1em;
  font-size: 36px;
  text-transform: none;
  margin: 0px 40px 0px 0px;
  border-bottom: 0px solid #555;
  display: inline-block;
  position: relative;
  clear: none;
  margin-top: 0px;
  width: 100%;
  display: inline;
}
h2.single-product--subtitle {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-weight: bold;
    padding: 5px 0px 5px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px dotted rgba(255,255,255,0.40);
}
.scp-data {
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding-bottom: 30px;
}
.scp-flise--info {
    position: relative;
    float: left;
    padding-right: 40px;
    &.small {
      margin-top: 3px;
      font-size: 16px;
      float: right;
      text-align: right;
    }
}
.scp-productext{
  color: #fff;
  font-size: 15px;
  padding-bottom: 20px;
  padding: 5px 0px 15px;
  margin-bottom: 5px;
  border-bottom: 1px dotted rgba(255,255,255,0.40);
}
.scp-link {
    color: $yellow-d !important;
    margin-right: 40px;
    font-weight: bold;
    font-size: 17px;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease;
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease;
}
