// COLORS
$black: #000;
$white: #fff;
$black-l: #292929;
$black-g: #121212;
$grey: #d9d9d9;

$blue: #105b63;
$white-custom: #fffad5;
$yellow: #ffd34e;
$yellow-d: #e8af00;
$orange: #DB9E36;
$red: #BD4931;

//social
$instagram:  #3F729B;
$facebook:  #3F729B;
$twitter:  #3F729B;

//LP
$lp: #222;

//content-section + header
$headerheight: 38px;
$height: 100%;

//sidebar-menu
$sidebarWidth: 277px;

//footer
$footerheight: 245px;
$footerheightsm: 400px;

//buttons
$size-button: 20px;
$padding-button: 5px;

//transparent
$transparent: rgba(0,0,0,0);
$transparent1: rgba(0,0,0,.1);
$transparent2: rgba(0,0,0,.2);
$transparent3: rgba(0,0,0,.3);
$transparent4: rgba(0,0,0,.4);
$transparent5: rgba(0,0,0,.5);
$transparent6: rgba(0,0,0,.6);
$transparent7: rgba(0,0,0,.7);
$transparent8: rgba(0,0,0,.8);
$transparent9: rgba(0,0,0,.9);
$solid: rgba(0,0,0,1);

// Shadow
$shadow__length--modul: 10;
$shadow__length--button: 7;

// Easing
$easing__time: .25s;

//mobile navigation toggle
$button-size: 3.5rem;
$transition: .1s;

// blur
$blurred-img:"https://lh3.googleusercontent.com/-m8TxQMObg6c/U474EWu7Y9I/AAAAAAAAI2k/xkRGoIEC1iU/s1600/blur.jpg";
